@charset "UTF-8";
/* left.css -----------------------------------------------------------------*/
.left-box { width: 160px; }

.main-box { width: 1010px; }

.main { width: 680px; }

.right-box { width: 300px; }

.banner-right { width: 300px; }

.item-vi { position: relative; margin-top: 20px; height: 170px; overflow: hidden; }

.item-vi:first-of-type { margin-top: 0; }

.item-vi .item-vi-txt { position: absolute; bottom: 0; left: 0; right: 0; padding-left: 10px; height: 50px; line-height: 50px; overflow: hidden; color: #fff; background: url("../images/slide-side-bg.png") repeat-x; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.item-vi .item-vi-txt:hover span { text-decoration: underline; }

.item-vi .item-vi-txt > span { max-width: 240px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

.item-vi .item-vi-txt .icon-banner-play { margin-right: 0; }

.sl-list-bottom { display: block; }

/* 分类.css -----------------------------------------------------------------*/
.sort-box { position: relative; padding: 20px 30px; background: #f8f8f8; }

.sort-item { float: left; padding-right: 50px; width: 235px; }

.sort-item .sort-item-title { font-size: 0; }

.icon-andrology { display: inline-block; margin-right: 10px; width: 18px; height: 18px; vertical-align: middle; background: no-repeat;background-position: -76px -264px; }

.icon-gynaecology { display: inline-block; margin-right: 10px; width: 20px; height: 20px; vertical-align: middle; background: no-repeat;background-position: -40px -103px; }

.icon-skin { display: inline-block; margin-right: 10px; width: 18px; height: 16px; vertical-align: middle; background: no-repeat;background-position: -158px -302px; }

.icon-oncology { display: inline-block; margin-right: 10px; width: 20px; height: 18px; vertical-align: middle; background: no-repeat;background-position: -265px -203px; }

.icon-neike { display: inline-block; margin-right: 10px; width: 20px; height: 16px; vertical-align: middle; background: no-repeat;background-position: 0 -302px; }

.icon-waike { display: inline-block; margin-right: 10px; width: 20px; height: 18px; vertical-align: middle; background: no-repeat;background-position: -120px -224px; }

.icon-zhongyi { display: inline-block; margin-right: 10px; width: 20px; height: 18px; vertical-align: middle; background: no-repeat;background-position: -152px -264px; }

.sort-item-depart { display: inline-block; vertical-align: middle; font-size: 16px; color: #000; }

.sort-item-depart:hover { color: #23c6a5; }

.sort-item-link { width: 30%; height: 24px; margin-right: 3%; font-size: 14px; line-height: 24px; color: #666; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

.sort-item-small { max-height: 70px; overflow: hidden; }

.sort-more { position: absolute; right: 30px; font-size: 16px; color: #999; line-height: 110px; }

/* 视频列表.css -----------------------------------------------------------------*/
.video-tab-title { color: #999; line-height: 64px; font-size: 0; }

.item-title { padding-right: 16px; margin-right: 16px; font-size: 22px; cursor: pointer; }

.item-title:not(:last-of-type) { border-right: 1px solid #ddd; }

.item-title-current { color: #23c6a5; }

/* 快速导航.css ------------------------------------------------------------------*/
.si { width: 160px; z-index: 2; position: relative; }

.si .si-addmore { color: #004da8; font-size: 14px; }

.si .si-addmore:hover { color: #23c6a5; }

.si .si-title { font-weight: normal; line-height: 48px; background: #23c6a5; padding-left: 15px; font-size: 18px; color: #fff; }

.si .si-main { background: #f7f7f7; padding: 0 0 16px; }

.si .si-list-title { display: block; padding: 0 15px 0 16px; position: relative; }

.si .si-list-title-word { line-height: 48px; font-size: 16px; color: #333333; }

.si .icon-sidenav { width: 20px; height: 20px; margin-top: 14px; margin-right: 7px; background: no-repeat center; }

.si .icon-sidenav-zan { background-position: -304px -115px; }

.si .icon-sidenav-nk { background-position: -40px -302px; }

.si .icon-sidenav-wk { background-position: -160px -224px; }

.si .icon-sidenav-gk { background-position: -342px 0; }

.si .icon-sidenav-yk { background-position: -80px -302px; }

.si .icon-sidenav-kq { background-position: -304px -76px; }

.si .icon-sidenav-zy { background-position: -304px -38px; }

.si .icon-sidenav-grxjb { background-position: -104px -42px; }

.si .icon-sidenav-kfyx { background-position: -80px -144px; }

.si .icon-sidenav-yxyx { background-position: 0 -264px; }

.si .icon-sidenav-mzyx { background-position: -120px -144px; }

.si .icon-sidenav-yyk { background-position: -265px 0; }

.si .icon-sidenav-qtks { background-position: -266px -264px; }

.si .icon-sidenav-nank { background-position: -228px -264px; }

.si .icon-sidenav-fck { background-position: 0 -103px; }

.si .icon-sidenav-ek { background-position: 0 -184px; }

.si .icon-sidenav-bxby { background-position: -190px -264px; }

.si .icon-sidenav-wgk { background-position: -304px -229px; }

.si .icon-sidenav-zlk { background-position: -265px -165px; }

.si .icon-sidenav-pfk { background-position: -196px -302px; }

.si .icon-sidenav-gck { background-position: -304px 0; }

.si .icon-sidenav-zx { background-position: -265px -126px; }

.si .icon-sidenav-xb { background-position: -225px -80px; }

.si .icon-sidenav-jsk { background-position: -225px -120px; }

.si .icon-sidenav-xlk { background-position: -80px -224px; }

.si .icon-sidenav-crk { background-position: -265px -83px; }

.si .icon-sidenav-zyk { background-position: -42px -60px; }

.si .icon-nav-arrow { display: none; width: 7px; height: 15px; margin-top: 16px; background: no-repeat center;background-position: -342px -38px; }

.si .si-list-show { position: absolute; width: 583px; width: 709px; top: -48px; left: 159px; background: #f7f7f7; border: 1px solid #dddddd; display: none; }

.si .si-list-show-auto { width: auto; }

.si .si-ls-left { background: #fff; padding: 26px 24px 14px 30px; }

.si .si-ls-left h3 { font-weight: normal; font-size: 18px; color: #000; line-height: 27px; }

.si .si-ls-left-list { width: 501px; padding: 9px 0; border-top: 1px dashed #d6d6d6; }

.si .si-ls-left-main .si-ls-left-list:first-child { border-top: none; }

.si .si-ls-left-list-a { width: 125px; font-size: 14px; line-height: 30px; }

.si .si-ls-left-list-a a { color: #004da8; }

.si .si-ls-left-list-a a:hover { color: #23c6a5; }

.si .link-current { background: #23c6a5; }

.si .si-ls-right { width: 132px; padding-top: 26px; padding-left: 22px; }

.si .si-ls-right h3 { font-size: 18px; color: #000; font-weight: normal; line-height: 27px; padding-bottom: 8px; }

.si .si-ls-right-list { line-height: 28px; font-size: 14px; color: #666666; }

.si .si-ls-right-a:hover { color: #23c6a5; }

.si .si-list { position: relative; height: 48px; }

.si .si-list:hover .si-list-title { background: #23c6a5; }

.si .si-list:hover .si-list-title:before { display: block; }

.si .si-list:hover .si-list-title-word { color: #fff; }

.si .si-list:hover .icon-nav-arrow { display: none; }

.si .si-list:hover .si-list-show { display: block; }

.si .si-list:hover .icon-sidenav-zan { background-position: -304px -152px; }

.si .si-list:hover .icon-sidenav-nk { background-position: 0 -224px; }

.si .si-list:hover .icon-sidenav-wk { background-position: -185px 0; }

.si .si-list:hover .icon-sidenav-nank { background-position: -225px -40px; }

.si .si-list:hover .icon-sidenav-fck { background-position: -225px 0; }

.si .si-list:hover .icon-sidenav-ek { background-position: -160px -184px; }

.si .si-list:hover .icon-sidenav-bxby { background-position: -120px -184px; }

.si .si-list:hover .icon-sidenav-wgk { background-position: -304px -189px; }

.si .si-list:hover .icon-sidenav-zlk { background-position: -200px -224px; }

.si .si-list:hover .icon-sidenav-pfk { background-position: -120px -302px; }

.si .si-list:hover .icon-sidenav-gck { background-position: -114px -264px; }

.si .si-list:hover .icon-sidenav-zx { background-position: -80px -184px; }

.si .si-list:hover .icon-sidenav-xb { background-position: -40px -184px; }

.si .si-list:hover .icon-sidenav-jsk { background-position: -185px -80px; }

.si .si-list:hover .icon-sidenav-xlk { background-position: -40px -224px; }

.si .si-list:hover .icon-sidenav-crk { background-position: -265px -40px; }

.si .si-list:hover .icon-sidenav-zyk { background-position: 0 -60px; }

.si .si-list:hover .icon-sidenav-gk { background-position: -145px -80px; }

.si .si-list:hover .icon-sidenav-yk { background-position: -145px -40px; }

.si .si-list:hover .icon-sidenav-kq { background-position: -145px 0; }

.si .si-list:hover .icon-sidenav-zy { background-position: -80px -103px; }

.si .si-list:hover .icon-sidenav-grxjb { background-position: -104px 0; }

.si .si-list:hover .icon-sidenav-kfyx { background-position: -225px -160px; }

.si .si-list:hover .icon-sidenav-yxyx { background-position: -185px -120px; }

.si .si-list:hover .icon-sidenav-mzyx { background-position: -185px -40px; }

.si .si-list:hover .icon-sidenav-yyk { background-position: -40px -144px; }

.si .si-list:hover .icon-sidenav-qtks { background-position: 0 -144px; }

/* banner.css ------------------------------------------------------------------*/
.sl { width: 680px; }
/*.sl .sl-list { width: 680px; }*/

/*.sl .slideBox .hd { left: 50%; margin-left: -57px; }*/

.sl .slideBox .hd ul li { float: left; width: 12px; height: 12px; background: #fff; cursor: pointer; margin: 0 4px; -webkit-border-radius: 50%; border-radius: 50%; }

.sl .slideBox .hd ul li.active { background-color: #23c6a5; }

.banner-right { width: 300px; }

.item-vi { position: relative; margin-top: 20px; height: 170px; overflow: hidden; }

.item-vi:first-of-type { margin-top: 0; }

.item-vi .item-vi-txt { position: absolute; bottom: 0; left: 0; right: 0; padding-left: 10px; height: 50px; line-height: 50px; overflow: hidden; color: #fff; background: url("../images/slide-side-bg.png") repeat-x; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.item-vi .item-vi-txt:hover span { text-decoration: underline; }

.item-vi .item-vi-txt > span { max-width: 240px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

.item-vi .item-vi-txt .icon-banner-play { margin-right: 0; }



/* 推荐阅读.css ------------------------------------------------------------------*/
.video-play-num span { margin-left: 30px; }

.cm-title { line-height: 48px; border-top: 1px solid #eeeeee; color: #000; }

.cm-title .cm-title-word { font-size: 20px; font-weight: normal; padding-top: 2px; padding-left: 3px; margin-top: -1px; border-top: 2px solid #23c6a5; }

.ma-modone { padding: 20px 0; border-bottom: 1px dotted #dddddd; }

.ma-modone:first-of-type { padding-top: 0; }

.ma-modone:last-of-type { border-bottom: 0; }

.ma-modone .ma-modone-left { position: relative; width: 180px; height: 120px; overflow: hidden; margin-right: 20px; }

.ma-modone .ma-modone-right { width: 100%; }

.ma-modone .ma-modone-right-title { display: block; max-width: 100%; color: #000; font-size: 18px; line-height: 28px; padding-bottom: 12px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.ma-modone .ma-modone-right-title:hover { color: #23c6a5; }

.ma-modone .ma-modone-right-content { font-size: 14px; line-height: 22px; height: 44px; overflow: hidden; color: #666666; }

.ma-modone .ma-modone-right-content .a-hover { color: #999999; }

.ma-modone .ma-modone-right-content .a-hover:hover { color: #23c6a5; }

.ma-modone .ma-modone-right-time { font-size: 12px; color: #999; line-height: 20px; padding-top: 16px; }

.ma-modone .ma-modone-right-time .video-hostpial { padding-top: 0; }

.ma-modone .ma-modone-right-time .video-play-num { font-size: 14px; }
.video-hostpial-link {color: #999;}

.video-hostpial-link { color: #999; }

.gum .video-hostpial { font-size: 14px; line-height: 24px; }

.gum .video-play-time { position: absolute; left: 0; right: 0; padding-right: 10px; bottom: 0; font-size: 12px; line-height: 32px; color: #fff; text-align: right; background: url("../images/list-bottom-bg.png") repeat-x; }

.read-recom .icon-list-btn { display: block; width: 40px; height: 40px; position: absolute; top: 50%; left: 50%; margin-left: -20px; margin-top: -20px; background: no-repeat;background-position: 0 0; }

.read-recom .read-recom-audio .video-hostpial, .read-recom .read-recom-audio .video-play-num { line-height: 40px; }

.read-recom .read-ra-left { height: 40px; line-height: 40px; -webkit-border-radius: 20px; border-radius: 20px; background: #f8f8f8; padding-right: 20px; margin-right: 20px; font-size: 14px; color: #999999; }

.read-recom .read-ra-left:hover { color: #23c6a5; }

.read-recom .read-ral-imgwrap { width: 40px; height: 40px; -webkit-border-radius: 50%; border-radius: 50%; overflow: hidden; margin-right: 15px; }

.read-recom .icon-detail-listbtn { width: 18px; height: 18px; margin-top: 11px; margin-right: 42px; background: no-repeat;background-position: -38px -264px; }

.hot-illness-list .read-recom { margin-top: 20px; }

.hot-illness-list .cm-title { padding-top: 20px; }

.hot-illness-list .cm-title .cm-title-word { display: none; }

/* 热门文章.css ------------------------------------------------------------------*/
.hot-artical .doctor-img { width: 80px; height: 80px; overflow: hidden; }

.hot-artical .doctor-info { width: 210px; color: #333333; }

.hot-artical .doctor-info h4 { width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; font-size: 16px; font-weight: normal; }

.hot-artical .doctor-info p { margin-top: 10px; }

.hot-artical .doctor-info .doctor-type { border: 1px solid #6798fc; color: #6798fc; -webkit-border-radius: 2px; border-radius: 2px; font-size: 12px; padding: 0 2px; }

.hot-artical .doctor-info .doctor-name { font-size: 14px; color: #444; }

.hot-artical .doctor-info .doctor-hospital { color: #999; font-size: 14px; }

.hot-artical li { border-bottom: 1px dashed #dddddd; padding: 15px 0; }

.hot-artical li.last { border: none; }

.hot-artical li:first-of-type { padding-top: 0; }

.hot-illness-list .hot-artical .doctor-img { width: 80px; height: 80px; }

/* 提问.css ------------------------------------------------------------------*/
.ask-box { width: 100%; height: 150px; background: url(../images/pic-ask-bg.jpg) no-repeat; }

.ask-title { padding: 30px 0 0 100px; }

.ask-title-o { font-size: 16px; color: #6595ff; }

.ask-title-big { font-size: 24px; color: #6595ff; font-weight: bold; }

.ask-title-big span { font-size: 26px; color: #ff6362; }

.ask-search { position: relative; margin: 14px auto 0; width: 260px; height: 36px; border: 1px solid #6595ff; background: #ffffff; }

.ask-inp { padding: 0 12px; width: 174px; height: 36px; font-size: 14px; line-height: 36px; color: #999; }

.btn-ask { width: 62px; height: 36px; line-height: 36px; color: white; font-size: 16px; text-align: center; background: #6595ff; }

.ask-peo { position: absolute; top: -77px; width: 67px; height: 83px; }

/* 签约医生.css ------------------------------------------------------------------*/
.doctor-sign-list { margin-left: -20px; margin-top: -6px; }

.doctor-sign-list li { margin-left: 20px; margin-top: 6px; text-align: center; }

.doctor-sign-list li dl dt { width: 60px; height: 60px; overflow: hidden; }

.doctor-sign-list li dl dd { font-size: 14px; line-height: 26px; }

/* 医学视频.css ------------------------------------------------------------------*/
.video-medical-list .ma-modone-left { width: 7rem; height: 4rem;
    margin-right: 5px; }

.video-medical-list .ma-modone-right { width: 11rem; }

.video-medical-list .ma-modone-right .ma-modone-right-title { font-size: 1rem; line-height: 1.2; padding-bottom: 0; }

.video-medical-list .ma-modone-right .ma-modone-right-time { padding-top: 10px; color: #959595; }

.video-medical-list .ma-modone-right .ma-modone-right-time a { color: #959595; }

.video-medical-list .ma-modone-right .ma-modone-right-time .video-play-num span { margin-left: 0; font-size: 12px; font-weight: normal; }

.video-medical-list li { border-bottom: 1px dashed #dddddd; margin: .5rem 0 0; padding: 0 0 .5rem; }

.video-medical-list li.last { border: none; }

.video-medical-list li .ma-modone { padding: 0; }

.video-medical-list .icon-list-btn { display: block; width: 23px; height: 23px; position: absolute; top: 50%; left: 50%; margin-left: -20px; margin-top: -12px; background-position: -60px 0; }


/* ../images/index.png */
.icon-andrology,
.icon-gynaecology,
.icon-skin,
.icon-oncology,
.icon-neike,
.icon-waike,
.icon-zhongyi,
.si .icon-sidenav-zan,
.si .icon-sidenav-nk,
.si .icon-sidenav-wk,
.si .icon-sidenav-gk,
.si .icon-sidenav-yk,
.si .icon-sidenav-kq,
.si .icon-sidenav-zy,
.si .icon-sidenav-grxjb,
.si .icon-sidenav-kfyx,
.si .icon-sidenav-yxyx,
.si .icon-sidenav-mzyx,
.si .icon-sidenav-yyk,
.si .icon-sidenav-qtks,
.si .icon-sidenav-nank,
.si .icon-sidenav-fck,
.si .icon-sidenav-ek,
.si .icon-sidenav-bxby,
.si .icon-sidenav-wgk,
.si .icon-sidenav-zlk,
.si .icon-sidenav-pfk,
.si .icon-sidenav-gck,
.si .icon-sidenav-zx,
.si .icon-sidenav-xb,
.si .icon-sidenav-jsk,
.si .icon-sidenav-xlk,
.si .icon-sidenav-crk,
.si .icon-sidenav-zyk,
.si .icon-nav-arrow,
.si .si-list:hover .icon-sidenav-zan,
.si .si-list:hover .icon-sidenav-nk,
.si .si-list:hover .icon-sidenav-wk,
.si .si-list:hover .icon-sidenav-nank,
.si .si-list:hover .icon-sidenav-fck,
.si .si-list:hover .icon-sidenav-ek,
.si .si-list:hover .icon-sidenav-bxby,
.si .si-list:hover .icon-sidenav-wgk,
.si .si-list:hover .icon-sidenav-zlk,
.si .si-list:hover .icon-sidenav-pfk,
.si .si-list:hover .icon-sidenav-gck,
.si .si-list:hover .icon-sidenav-zx,
.si .si-list:hover .icon-sidenav-xb,
.si .si-list:hover .icon-sidenav-jsk,
.si .si-list:hover .icon-sidenav-xlk,
.si .si-list:hover .icon-sidenav-crk,
.si .si-list:hover .icon-sidenav-zyk,
.si .si-list:hover .icon-sidenav-gk,
.si .si-list:hover .icon-sidenav-yk,
.si .si-list:hover .icon-sidenav-kq,
.si .si-list:hover .icon-sidenav-zy,
.si .si-list:hover .icon-sidenav-grxjb,
.si .si-list:hover .icon-sidenav-kfyx,
.si .si-list:hover .icon-sidenav-yxyx,
.si .si-list:hover .icon-sidenav-mzyx,
.si .si-list:hover .icon-sidenav-yyk,
.si .si-list:hover .icon-sidenav-qtks,
.read-recom .icon-list-btn,
.read-recom .icon-detail-listbtn,
.video-medical-list .icon-list-btn{
background-image: url(../images/index.png);
}